.search {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 44px;
  border-bottom: 1px solid rgba(170, 170, 170, 0.2);
}

.search__container {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  margin-bottom: 15px;
}
.search__filter {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
}

.search__text {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 20px;
  box-sizing: border-box;
  width: 100%;
  margin: 0 10px 0 0;
  padding-left: 22px;
  color: #8b8b8b;
  background: #f9f9f9;
  border: none;
  border-radius: 5px;
  outline: 0;
}

.search__button {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  line-height: 18px;
  min-width: 70px;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 5px;
  background: #ff6838;
  transition: opacity ease-in 0.2s;
  cursor: pointer;
  outline: 0;
}

.search__button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1280px) {
  .search {
    padding-bottom: calc((100vw - 768px) / (1280 - 768) * (44 - 51) + 51px);
  }
}

@media screen and (max-width: 768px) {
  .search {
    padding: 0 calc((100vw - 400px) / (768 - 400) * (0 - 4) + 4px)
      calc((100vw - 400px) / (768 - 400) * (51 - 63) + 63px);
  }
}

@media screen and (max-width: 400px) {
  .search {
    padding: 0 0 62px;
  }
  .search__container {
    height: 44px;
  }

  .search__text {
    font-size: 16px;
    line-height: 16px;
    padding: 16px 12px;
    margin: 3px;
  }

  .search__button {
    min-width: 50px;
    margin: 3px;
  }
}
